@model PostListVM;

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 mb-4">Dashboard</h1>

<a class="btn btn-success mb-5" asp-controller="Post" asp-action="CreatePostPage">Create Post +</a>

<div class="d-flex flex-wrap">
    @foreach (var item in Model.Posts)
    {
        <div class="card mb-5 mr-5" style="width: 18rem; margin-right: 30px;">
            <div class="car_image-container" style="background-image: url('/images/@item.CurrentImage');">
                @* <img src="~/images/@item.CurrentImage" class="card-img-top" alt="..."> *@
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="text-secondary mb-1" style="font-size: 0.75rem">
                    Last modified: <b>@item.DateCreated</b>
                </p>
                <p class="card-text truncate">@item.Description</p>
                <a class="btn btn-primary me-2" asp-controller="Post" asp-action="EditPostPage" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Post" asp-action="DeletePost" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>
